/******************/
/*   Generales   */
/****************/
:root {
  --primary-color: #1d1b67;
  --secondary-color: #005661;
  --primary-bg: #46ccde;
  --secondary-bg: #cdf9ff;
  --light-blue: #3b60bf;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  color: var(--light-blue);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.heading-blue {
  color: var(--primary-color);
}

.heading-green {
  color: var(--secondary-color);
}

p {
  font-size: 1.7rem;
  line-height: 1.5;
  color: var(--secondary-color);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  padding: 0 1.5rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: var(--primary-color);
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

.btn-link {
  display: inline-block;
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 600;
  width: 40%;
}

.btn-link-border {
  border-bottom: 2px solid var(--secondary-color);
  width: auto;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.link {
  font-size: 1.8rem;
  color: var(--secondary-color);
  margin-bottom: 3rem;
  display: inline-block;
}

/*******************/
/*     Navbar     */
/*****************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  flex-wrap: wrap;
}

.navbar-collapse {
  flex-grow: 1;
  flex-basis: 100%;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.collapse:not(.show) {
  display: none;
}

/*******************/
/*     Header     */
/*****************/
.header-btn {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-feature {
  display: flex;
  column-gap: 1.5rem;
  margin-top: 2rem;
}

.header-hero {
  margin-top: 4rem;
  background-color: var(--primary-bg);
  padding: 4rem 3rem;
}

/*********************/
/*   Main Content   */
/*******************/
.main-content {
  margin-top: 5rem;
}

.main-content-influencers {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.influencer {
  width: 5rem;
  height: 5rem;
}

/*********************/
/*     Features     */
/*******************/
.features-container {
  margin-top: 4rem;
  background-color: var(--secondary-bg);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.features {
  display: grid;
  row-gap: 7rem;
}

/*********************/
/*      Footer      */
/*******************/
.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 4rem;
  row-gap: 2rem;
  max-width: 80%;
}

.footer-nav li {
  margin-bottom: 1rem;
}

.footer-nav a {
  font-size: 1.6rem;
  color: var(--secondary-color);
}

/**********************/
/*   Media Queries   */
/********************/
@media (min-width: 768px) {
  /* Globales */
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  h1,
  h2 {
    font-size: 3.7rem;
  }

  /* Navbar */
  .navbar {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .collapse:not(.show) {
    display: flex;
  }

  .navbar-collapse {
    flex-basis: 90%;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 0 0 6rem;
  }

  .burger-button {
    display: none;
  }

  .navbar-links {
    display: flex;
    align-items: center;
  }

  .link {
    margin-bottom: 0;
    margin-right: 3rem;
  }

  /* Header */
  .header {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    padding-bottom: 4rem;
  }

  .header-btn {
    flex-direction: column;
    row-gap: 3rem;
  }

  .header-feature {
    align-items: flex-start;
  }

  .header-feature-text p {
    display: inline;
  }

  /* Main Content */
  .main-content-header {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 1rem;
  }

  .main-content-influencers {
    margin-top: 1rem;
  }

  .influencer {
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Header */
  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-info {
    max-width: 75%;
  }

  .header-btn {
    flex-direction: row;
  }

  /* Main Content */
  .main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .main-content-header {
    grid-template-columns: 1fr;
  }

  .main-content-influencers {
    gap: 1.5rem;
  }

  /* Features */
  .features {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
  }

  /* Footer */

  .footer-nav-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-nav {
    max-width: 100%;
    column-gap: 18rem;
  }
}

/* Para medi queries */
/* .navbar-collapse {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 6rem;
}

.navbar-links {
  display: flex;
  align-items: center;
} */
